@import '../App.scss';

.aboutContainer {
  @include set-bg-and-text-colors(whitesmoke);
  background: linear-gradient(
    to top left,
    #c6ebf7 0%,
    #c2eaf7 25%,
    #bde8f6 50%,
    #b0d8e5 75%,
    #a3c8d4 100%
  );

  .about {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .heading {
      @include section-heading;
      margin-bottom: 20px;
    }

    .bio {
      margin-bottom: 20px;
    }

    .skillSection {
      .lead {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 25px;
      }

      .skills {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        row-gap: 6px;
        gap: 10px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0;

        @include media('<tablet') {
          grid-template-columns: repeat(4, 1fr);
        }

        @include media('<phone') {
          grid-template-columns: repeat(3, 1fr);
        }

        li {
          justify-self: flex-start;
          border: 2px solid var(--black);
          border-radius: 6px;
          padding: 3px;
          min-width: 100px;
        }
      }
    }
  }
}
