@import '../sass/utilities';

.aboutContainer {
  @include set-bg-and-text-colors(white);
  // background: linear-gradient(
  //   to top left,
  //   #c6ebf7 0%,
  //   #c2eaf7 25%,
  //   #bde8f6 50%,
  //   #b0d8e5 75%,
  //   #a3c8d4 100%
  // );

  .about {
    @include max-width(90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // text-align: justify;
    // text-justify: inter-word;

    .heading {
      @include section-heading;
      margin-bottom: 40px;
      border-bottom: 5px solid var(--black);
      line-height: 1;
    }

    .bio {
      margin-bottom: 40px;
      max-width: 76%;
      max-width: 115ch;
      line-height: 1.75;

      @include media('<tablet') {
        max-width: 100%;
      }
    }

    .skillSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .lead {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 25px;
      }

      .skills {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 12px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0;

        @include media('<900px') {
          grid-template-columns: repeat(4, 1fr);
        }

        @include media('<615px') {
          grid-template-columns: repeat(3, 1fr);
        }
        @include media('<phone') {
          grid-template-columns: repeat(2, 1fr);
        }

        li {
          justify-self: flex-start;
          border: 2px solid var(--black);
          border-radius: 5px;
          padding: 5px;
          min-width: 120px;
        }
      }
    }
  }
}
