@import '../sass/utilities';

$skill-colors: #e34c26, #264de4, #f0db4f, #61dbfb, #cd6799, #007acc, #68a063,
  #3c873a, #00684a, #764abc, #ffa611, #f15030;

$breakpoint: '<950px';

.aboutContainer {
  @include set-bg-and-text-colors(#ebf2f8);
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;

  .about {
    @include max-width(80px);
    display: flex;
    column-gap: 100px;

    @include media($breakpoint) {
      flex-direction: column;
      padding: 65px 0;
    }

    .heading {
      font-family: 'Geologica';
      font-size: 42px;
      margin-bottom: 20px;
      letter-spacing: 0;

      @include media('<phone') {
        font-size: 38px;
      }
    }

    .bio {
      font-size: 16px;
      line-height: 1.75;
      text-align: justify;

      @include media($breakpoint) {
        text-align: left;
        margin-bottom: 25px;
      }
    }

    .devSkills {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;

      .lead {
        font-family: 'Geologica';
        font-size: 22px;
        letter-spacing: 0;
        margin-bottom: 48px;

        @include media($breakpoint) {
          margin-bottom: 25px;
        }
      }

      .skillsList {
        font-family: 'Ubuntu';
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;

        @include media('<1220px') {
          grid-template-columns: repeat(2, 1fr);
        }
        @include media($breakpoint) {
          grid-template-columns: repeat(4, 1fr);
        }
        @include media('<650px') {
          grid-template-columns: repeat(3, 1fr);
        }
        @include media('<phone') {
          grid-template-columns: repeat(2, 1fr);
        }

        button {
          position: relative;
          display: flex;
          align-items: center;
          column-gap: 6px;
          min-width: 120px;
          height: 31px;
          font-family: 'Ubuntu';
          font-size: 14px;
          font-weight: 500;
          background-color: var(--white);
          color: var(--black);
          box-shadow: 0 0 4px -1px rgba(33, 56, 84, 0.42);
          border-radius: 3px;
          padding: 7px 10px;
          cursor: pointer;
          user-select: none;
          border: none;
          overflow: hidden;
          transition: background-color var(--ts-effect-eio),
            color var(--ts-effect-eio);

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 120%;
            top: -3px;
            left: 0;
            transform: scaleX(0);
            border-radius: 3px;
            transition: transform 350ms ease-in-out,
              background-color 400ms linear;
            transform-origin: right;
          }

          i,
          span {
            z-index: 2;
          }

          i {
            display: flex;
            font-size: 16px;
          }
        }

        li {
          @for $i from 1 through length($skill-colors) {
            $clr: nth($skill-colors, $i);

            &.active:nth-child(#{$i}) button {
              color: set-best-contrast($clr);

              &::after {
                background-color: $clr;
              }
            }
          }

          &.active:nth-child(5) button {
            color: var(--white);
          }
          &.active:nth-child(12) button {
            color: var(--white);
          }

          &.active button::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
  }

  .wave {
    // prettier-ignore
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 79.83%, 2.00% 79.50%, 4.00% 79.01%, 6.00% 78.38%, 8.00% 77.63%, 10.00% 76.79%, 12.00% 75.89%, 14.00% 74.95%, 16.00% 74.01%, 18.00% 73.11%, 20.00% 72.28%, 22.00% 71.54%, 24.00% 70.92%, 26.00% 70.45%, 28.00% 70.14%, 30.00% 70.01%, 32.00% 70.05%, 34.00% 70.26%, 36.00% 70.64%, 38.00% 71.18%, 40.00% 71.85%, 42.00% 72.64%, 44.00% 73.50%, 46.00% 74.43%, 48.00% 75.37%, 50.00% 76.29%, 52.00% 77.18%, 54.00% 77.98%, 56.00% 78.68%, 58.00% 79.25%, 60.00% 79.67%, 62.00% 79.92%, 64.00% 80.00%, 66.00% 79.90%, 68.00% 79.63%, 70.00% 79.19%, 72.00% 78.61%, 74.00% 77.90%, 76.00% 77.08%, 78.00% 76.19%, 80.00% 75.26%, 82.00% 74.32%, 84.00% 73.41%, 86.00% 72.55%, 88.00% 71.77%, 90.00% 71.11%, 92.00% 70.59%, 94.00% 70.23%, 96.00% 70.03%, 98.00% 70.01%, 100.00% 70.17%);
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: darken(#ebf2f8, 4%);

    &.wave1 {
      top: 0;
      left: 0;
      transform: rotate(135deg) translateY(62px);

      @include media($breakpoint) {
        transform: rotate(135deg) translateY(82px);
      }
    }

    &.wave2 {
      bottom: 0;
      right: 0;
      transform: rotate(-45deg) translateY(62px);
    }
  }
}
