@import '../sass/utilities';

.contactContainer {
  @include set-bg-and-text-colors(whitesmoke);
  position: relative;

  .contact {
    @include max-width(75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .heading {
      @include section-heading;
      margin-bottom: 10px;
    }

    .text {
      margin-bottom: 30px;
    }

    .mail {
      @include set-bg-and-text-colors(whitesmoke);
      border: 2px solid var(--black);
      padding: 8px 20px;
      font-weight: 500;
      border-radius: 3px;
      transition: var(--ts-effect);

      &:hover {
        @include set-bg-and-text-colors(black);
      }
    }
  }

  .scrollToTop {
    position: absolute;
    cursor: pointer;
    color: var(--black);
    bottom: 5px;
    right: 5px;
    padding: 15px;

    &:hover {
      animation: bounce 425ms ease-in-out infinite alternate;
    }

    i {
      font-size: 25px;
      display: flex;
      border-radius: 50px;
      padding: 6px;
      background-color: #fbcac3;
    }
  }
}

@keyframes bounce {
  to {
    transform: translateY(-4px);
  }
}
