@import '../sass/utilities';

.header {
  font-family: 'Ubuntu', sans-serif;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  @include media('<tablet') {
    @include max-width;
  }

  @include media('<phone') {
    height: 70px;
  }

  .logoLink {
    display: flex;
    width: 28px;

    @include media('<tablet') {
      width: 25px;
    }

    @include media('<phone') {
      width: 22px;
    }

    img {
      width: 100%;
    }
  }

  .links {
    display: flex;
    align-items: center;
    font-size: 18px;
    column-gap: 35px;
    padding: 10px 0;

    @include media('<phone') {
      font-size: 16px;
      column-gap: 25px;
    }

    a {
      padding: 10px 0;
      transition: var(--ts-effect-eio);

      &:hover {
        color: var(--green);
      }
    }
  }
}
