@import '../sass/utilities';

.heroContainer {
  height: calc(100vh - var(--nav-height));
  background-color: var(--navy);
  font-family: 'Ubuntu', sans-serif;
  // background: linear-gradient(
  //   to top left,
  //   #353e49 -10%,
  //   #313a45 0%,
  //   #2c3641 10%,
  //   #28323d 20%,
  //   #232d39 30%,
  //   #1f2935 45%,
  //   #1e2834 70%,
  //   #1e2733 80%,
  //   #1d2732 90%,
  //   #1d2631 100%,
  //   #1c2530 110%
  // );
  // background: linear-gradient(
  //   to top left,
  //   #2c3641 0%,
  //   #28323d 15%,
  //   #232d39 50%,
  //   #1e2733 80%,
  //   #1d2732 90%,
  //   #1d2631 100%
  // );
  background: linear-gradient(
    to top left,
    #28323d 0%,
    #232d39 15%,
    #1f2935 50%,
    #1e2733 80%,
    #1d2732 90%,
    #1d2631 100%
  );
}

.hero {
  @include max-width();
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: var(--nav-height);

    .lead {
      font-weight: 300;
      color: var(--green);
      margin-bottom: 20px;
      letter-spacing: 1.3px;
    }

    .name {
      font-size: 80px;
      color: var(--lightest-slate);
      margin-bottom: 10px;

      @include media('<tablet') {
        font-size: 60px;
      }
      @include media('<phone') {
        font-size: 40px;
      }
    }

    .tagline {
      font-size: 64px;
      font-weight: 600;
      color: var(--hero-subheading);
      margin-bottom: 30px;
      font-size: 48px;

      @include media('<tablet') {
        font-size: 40px;
      }
      @include media('<phone') {
        font-size: 32px;
      }

      span {
        display: inline-block;
      }
    }

    .description {
      max-width: 550px;
      margin-bottom: 50px;
    }

    .link {
      background-color: transparent;
      color: var(--green);
      border: 1px solid var(--green);
      padding: 18px 24px;
      border-radius: 5px;
      transition: 350ms ease-in-out;

      &:hover {
        background-color: var(--green);
        color: var(--navy);
      }
    }
  }
}
