@import '../sass/utilities';

.header {
  font-family: 'Ubuntu', sans-serif;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  .links {
    display: flex;
    align-items: center;
    font-size: 18px;
    column-gap: 15px;

    @include media('<phone') {
      font-size: 16px;
      column-gap: 8px;
    }

    a {
      padding: 10px;
      transition: var(--ts-effect);

      &:hover {
        color: var(--green);
      }
    }
  }
}
