@import '../App.scss';

.header {
  background-color: var(--navy);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  height: var(--nav-height);
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 3px solid var(--green);
  z-index: 1;

  .links {
    display: flex;
    align-items: center;
    column-gap: 10px;

    a {
      // color: var(--green);
      padding: 10px;
      transition: var(--ts-effect);

      &:hover {
        color: var(--ts-clr);
      }
    }
  }
}
