@import '../sass/utilities';

.projectsSection {
  position: relative;
  $light-blue: #99bbc7;

  .headingContainer {
    background-color: var(--navy);
    border-bottom: 5px solid $light-blue;
  }

  .heading {
    @include max-width(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .title {
      @include section-heading;
      margin-bottom: 15px;
      border-bottom: 5px solid $light-blue;
    }

    .text {
      font-size: 22px;
      font-weight: 600;
    }

    .demoImageButtons {
      background-color: $light-blue;
      border-radius: 3px;
      margin-top: 25px;
      padding: 10px 15px;
      display: flex;
      column-gap: 6px;
      box-shadow: 0 0 30px -2px rgba(0, 0, 0, 0.35);

      @include media('<phone') {
        transform: scale(0.95);
      }

      input {
        display: none;

        &:checked + label {
          @include set-bg-and-text-colors(darken($light-blue, 35%));
        }
      }

      label {
        color: set-text-color($light-blue);
        cursor: pointer;
        padding: 6px 22px;
        border-radius: 3px;
        font-weight: 500;
        transition: 350ms ease-in-out;

        &:hover {
          background-color: darken($light-blue, 10%);
        }
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
  }
}
