@import '../App.scss';

.projectsSection {
  // @include set-bg-and-text-colors(#82afe6);
  // @include set-bg-and-text-colors(#7f99cd);
  // background: linear-gradient(
  //   to top left,
  //   #353e49 -10%,
  //   #313a45 0%,
  //   #2c3641 10%,
  //   #28323d 20%,
  //   #232d39 30%,
  //   #1f2935 45%,
  //   #1e2834 70%,
  //   #1e2733 80%,
  //   #1d2732 90%,
  //   #1d2631 100%,
  //   #1c2530 110%
  // );

  .headingContainer {
    background-color: var(--navy);
    border-bottom: 5px solid #99bbc7;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    max-width: var(--max-width);

    .title {
      @include section-heading;
      margin-bottom: 15px;
      border-bottom: 5px solid #99bbc7;
      // text-decoration: underline;
      // background-color: skyblue;
    }

    .text {
      // font-family: 'Ubuntu';
      font-size: 22px;
      font-weight: 600;
      // background-color: orange;
    }
  }

  .projects {
    background-color: seagreen;
    display: flex;
    flex-direction: column;
  }
}
