@import '../App.scss';

$project1: #2b3239;
$project2: #daf6f8;
$project3: #b7e7ae;
$project4: #c7a987;
$project5: #91c6c8;
$project6: #fac6bf;

$project-colors: $project1, $project2, $project3, $project4, $project5,
  $project6;

.projectContainer {
  width: 100%;
  padding: 50px 0;

  @for $i from 1 through length($project-colors) {
    $clr: nth($project-colors, $i);

    &:nth-child(#{$i}) {
      @include set-bg-and-text-colors($clr);
    }

    &:nth-child(#{$i}) .info .tech li {
      border: 2px solid set-text-color($clr);
    }

    &:nth-child(#{$i}) .info .links a {
      color: set-text-color($clr);
    }

    &:nth-child(#{$i}) .info .name {
      color: set-text-color($clr);
    }
  }

  &:nth-child(even) .project {
    flex-direction: row-reverse;

    @include media('<tablet') {
      flex-direction: column;
    }
  }

  .project {
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    column-gap: clamp(50px, 6vw, 100px);

    @include media('<tablet') {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
    }

    .imageLink {
      display: flex;
      box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
      transition: var(--ts-effect-2);
      width: 100%;
      border-radius: 2px;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 30px -2px rgba(0, 0, 0, 0.35);
      }

      img {
        width: 100%;
        border-radius: 2px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;

      .name {
        font-size: 40px;
        letter-spacing: -2px;
        margin-bottom: 10px;
        font-weight: 700;

        @include media('<desktop') {
          font-size: 34px;
        }

        @include media('<phone') {
          font-size: 28px;
          letter-spacing: -1px;
        }
      }

      .tech {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 20px;

        li {
          padding: 1px 6px;
          border-radius: 6px;
        }
      }

      .desc {
        margin-bottom: 20px;
      }

      .links {
        display: flex;
        column-gap: 16px;

        a {
          font-size: 34px;
          transition: var(--ts-effect);
          // display: flex;
          // padding: 5px;

          @include media('<tablet') {
            font-size: 40px;
          }

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
