@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
@import './include-media.scss';

@function set-text-color($clr) {
  @if (lightness($clr) > 50) {
    @return var(--black);
  } @else {
    @return var(--white);
  }
}

@mixin set-bg-and-text-colors($clr) {
  background-color: $clr;
  color: set-text-color($clr);
}

@mixin section-heading() {
  font-size: 60px;
  font-family: 'Geologica', sans-serif;
  font-weight: 600;
  letter-spacing: 0;

  @include media('<desktop') {
    font-size: 48px;
  }

  @include media('<phone') {
    font-size: 40px;
  }
}

:root {
  --max-width: min(88vw, 1440px);
  --max-width: min(88vw, 1300px);
  --navy: #1f2935;
  --green: #3ed6b1;
  --white: #e6f1ff;
  --hero-subheading: #708ba0;
  --lighest-slate: #ccd6f6;
  --nav-height: 80px;
  --ts-clr: var(--green);
  --ts-effect: 250ms ease-in-out;
  --ts-effect-2: 250ms linear;
  --black: #111;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  letter-spacing: 0.5px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

p {
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}
