.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background-color: #fbcac3;
  // prettier-ignore
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 42.72%, 2.00% 44.47%, 4.00% 46.42%, 6.00% 48.50%, 8.00% 50.63%, 10.00% 52.74%, 12.00% 54.75%, 14.00% 56.60%, 16.00% 58.21%, 18.00% 59.53%, 20.00% 60.51%, 22.00% 61.12%, 24.00% 61.33%, 26.00% 61.15%, 28.00% 60.57%, 30.00% 59.61%, 32.00% 58.32%, 34.00% 56.73%, 36.00% 54.90%, 38.00% 52.90%, 40.00% 50.79%, 42.00% 48.66%, 44.00% 46.57%, 46.00% 44.61%, 48.00% 42.84%, 50.00% 41.32%, 52.00% 40.11%, 54.00% 39.25%, 56.00% 38.77%, 58.00% 38.68%, 60.00% 39.00%, 62.00% 39.71%, 64.00% 40.78%, 66.00% 42.18%, 68.00% 43.86%, 70.00% 45.75%, 72.00% 47.80%, 74.00% 49.92%, 76.00% 52.05%, 78.00% 54.10%, 80.00% 56.01%, 82.00% 57.70%, 84.00% 59.12%, 86.00% 60.22%, 88.00% 60.96%, 90.00% 61.31%, 92.00% 61.25%, 94.00% 60.80%, 96.00% 59.97%, 98.00% 58.78%, 100.00% 57.28%);
}
